argcomplete==3.6.2
bcc==0.31.0
bcrypt==4.2.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
crit==4.1.1
cryptography==43.0.0
cupshelpers==1.0
dbus-python==1.4.0
distro==1.9.0
distro-info==1.13
fuse-python==1.0.9
greenlet==3.1.0
gyp-next==0.16.2
idna==3.10
libvirt-python==11.3.0
msgpack==1.0.3
packaging==25.0
pcp==5.0
pipx==1.7.1
platformdirs==4.3.7
protobuf==4.21.12
psutil==7.0.0
pycairo==1.27.0
pycriu==4.1.1
pycups==2.0.4
Pygments==2.18.0
PyGObject==3.50.0
pylibacl==0.7.2
pynvim==0.5.2
pyOpenSSL==25.0.0
pysmbc==1.0.25.1
python-apt==3.0.0
pyxattr==0.8.1
PyYAML==6.0.2
requests==2.32.3
sentry-sdk==2.18.0
tomlkit==0.13.2
tornado==6.4.2
unattended-upgrades==0.1
urllib3==2.3.0
userpath==1.9.2
vboxapi==1
wheel==0.46.1
xmltodict==0.13.0
yq==3.4.3
